<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Gridzilla A Entertainment Category Flat Bootstarp Resposive Website Template | Contact :: w3layouts</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<body> 
<!--header-->
	<div class="header">
			<div class="container">
			<div class="header-top">
				<div class="logo">
					<a href="index.html"><img src="images/logo.png" alt="" /></a>
				</div>
				<div class="search">
					<form>
						<input type="text" value="Enter your search..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" >
						<input type="submit"  value="">
					</form>
				</div>
			<div class="clearfix"> </div>
		</div>
			<div class="top-nav">
			<span class="menu"> </span>
				<ul>
					<li ><a href="index.html" > HOME </a></li>
					<li><a href="about.html" > ABOUT </a></li>
					<li><a href="blog.html" > BLOG</a></li>						
					<li class="active"><a href="contact.html" >CONTACT</a></li>
				</ul>
				<script>
						$("span.menu").click(function(){
							$(".top-nav ul").slideToggle(500, function(){
							});
						});
					</script>
			</div>
				</div>
				</div>
	<!---->
		<div class="content">
			<div class="container">
				<div class="contact">
					<div class="contact-top">
						<h2>Contact Us. Locate Us. Send Us Your Thoughts!</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Maecenas in magna mollis lectus lacinia mollis. </p>
					</div>	
					<div class="map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d25090.351787808224!2d-122.2569291!3d38.179845!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80850c726b66df5b%3A0xfaee3a3990d21c4c!2sAmerican+Canyon%2C+CA%2C+USA!5e0!3m2!1sen!2sin!4v1413272890200"></iframe>
			 </div>
			 <div class="contact-bottom">
				 <form>
					<input type="text" name="your name" value="FIRST NAME" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'FIRST NAME';}">	
					<input type="text" name="your name" value="LAST NAME" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'LAST NAME';}">				
					<input type="text" name="your email" value="EMAIL ADDRESS" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'EMAIL ADDRESS';}">
					<textarea  name="message"  onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'MESSAGE';}" >MESSAGE </textarea>	
					<input type="submit" value="Submit">
				</form>	
			</div>			
		</div>

			</div>
		</div>
	<!--footer-->
	<div class="footer">
		<div class="container">
		<div class="footer-top">
			<ul class="social-ic-icons">
				<li><a href="#"><span> </span></a></li>
				<li class="dribble"><a href="#"><span> </span></a></li>
				<li class="facebook"><a href="#"><span> </span></a></li>
				<li class="print"><a href="#"><span> </span></a></li>					
			</ul> 
			<p class="footer-grid">Copyright &copy; 2015 Gridzilla Template by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
			<div class="clearfix"> </div>
		</div>
		 </div>
	 </div>
</body>
</html>