<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.j4.cms.dao.CfgDao">

	<select id="get" resultType="Cfg">
		select
		  c,
		  c1,
		  c2,
		  c3,
		  seq
		from cfg where c = #{c} and c1= #{c1}
	</select>
	<select id="findList" resultType="Cfg">
		select
		  c,
		  c1,
		  c2,
		  c3,
		  seq
		from cfg where c = #{c}
		order by seq asc
	</select>
</mapper>