<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.j4.cms.dao.DataDao">

	<select id="get" resultType="Data">
		select
		  id,
		  c1,
		  c2,
		  c3,
		  c4,
		  c5,
		  c6,
		  c7,
		  c8,
		  c9,
		  c10,
		  c11,
		  c12,
		  c13,
		  c14,
		  c15,
		  c16,
		  model_id,
		  state,
		  create_time as 'createTime',
		  create_by as 'createBy',
		  update_time as 'updateTime',
		  update_by as 'updateBy'
		from ${tableName}
		where id = #{id}
	</select>
	<sql id="where">
		<if test="1 == state">
			and state = #{state}
		</if>
		<if test="null!= c1 and '' != c1">
			and c1 like CONCAT('%', #{c1}, '%')
		</if>
		<choose>
	        <when test="date1 !=null and date2 != null">
	            and create_time  between #{date1} and  #{date2}
	        </when>
	        <when test="date1 !=null">
	        	<![CDATA[
		            and create_time  >= #{date1}
	        	 ]]>
	        </when>
	        <when test="date2 != null">
	        	<![CDATA[
	            and create_time  <= #{date2}
	            ]]>
	        </when>
	    </choose>
	
	</sql>
	<select id="findPage" resultType="Data">
		select
		  id,
		  c1,
		  c2,
		  c3,
		  c4,
		  c5,
		  c6,
		  c7,
		  c8,
		  c9,
		  c10,
		  c11,
		  c12,
		  c13,
		  c14,
		  state,
		  create_time as 'createTime',
		  create_by as 'createBy',
		  update_time as 'updateTime',
		  update_by as 'updateBy'
		from ${tableName}
		where model_id = #{modelId}
		<include refid="where" />
		order by create_time desc
		limit ${pager.start} , ${pager.rows}
	</select>
	<select id="findCount" resultType="int">
		select
		  count(id)
		from ${tableName}
		where model_id = #{modelId}
		<include refid="where" />
	</select>
	
	<insert id="insert">
		insert into ${tableName}
            (
             c1,
             c2,
             c3,
             c4,
             c5,
             c6,
             c7,
             c8,
             c9,
             c10,
             c11,
             c12,
             c13,
             c14,
             c15,
             c16,
             model_id,
             state,
             create_time,
             create_by,
             update_time,
             update_by)
		values (
		        #{c1},
		        #{c2},
		        #{c3},
		        #{c4},
		        #{c5},
		        #{c6},
		        #{c7},
		        #{c8},
		        #{c9},
		        #{c10},
		        #{c11},
		        #{c12},
		        #{c13},
		        #{c14},
		        #{c15},
		        #{c16},
		        #{modelId},
		        0,
		        #{createTime},
		        #{createBy},
		        #{updateTime},
		        #{updateBy})
	</insert>
	<update id="update">
		update ${tableName}
			set 
			  c1 = #{c1},
			  c2 = #{c2},
			  c3 = #{c3},
			  c4 = #{c4},
			  c5 = #{c5},
			  c6 = #{c6},
			  c7 = #{c7},
			  c8 = #{c8},
			  c9 = #{c9},
			  c10 = #{c10},
			  c11 = #{c11},
			  c12 = #{c12},
			  c13 = #{c13},
			  c14 = #{c14},
			  c15 = #{c15},
			  c16 = #{c16},
			  update_time = #{updateTime},
			  update_by = #{updateBy}
			where id = #{id}
	</update>
	
	<delete id="delete">
		delete from ${tableName} where id = #{id}
	</delete>
	<update id="updateState">
		update ${tableName}
			set 
			  state = #{state}
			where id = #{id}
	</update>
	
	<delete id="deleteBy">
		delete from ${tableName} where model_id = #{id}
	</delete>
	
	<!-- 前端用到的方法 -->
	<select id="findLimit" resultType="Data">
		select
		  id,
		  c1,
		  c2,
		  c3,
		  c4,
		  c5,
		  c6,
		  c7,
		  c8,
		  c9,
		  c10,
		  c11,
		  c12,
		  c13,
		  c14,
		  c15,
		  c16,
		  state,
		  create_time as 'createTime',
		  create_by as 'createBy',
		  update_time as 'updateTime',
		  update_by as 'updateBy'
		from ${tableName}
		where model_id = #{modelId}
		and state = '1'
		order by create_time desc
		limit ${limit}
	</select>
	<select id="findOne" resultType="Data">
		select
		  id,
		  c1,
		  c2,
		  c3,
		  c4,
		  c5,
		  c6,
		  c7,
		  c8,
		  c9,
		  c10,
		  c11,
		  c12,
		  c13,
		  c14,
		  c15,
		  c16,
		  state,
		  create_time as 'createTime',
		  create_by as 'createBy',
		  update_time as 'updateTime',
		  update_by as 'updateBy'
		from ${tableName}
		where model_id = #{modelId}
		and state = '1'
		order by create_time desc
		limit 1
	</select>
	
	<select id="findList" resultType="Data">
		select
		  id,
		  c1,
		  c2,
		  c3,
		  c4,
		  c5,
		  c6,
		  c7,
		  c8,
		  c9,
		  c10,
		  c11,
		  c12,
		  c13,
		  c14,
		  c15,
		  c16,
		  state,
		  create_time as 'createTime',
		  create_by as 'createBy',
		  update_time as 'updateTime',
		  update_by as 'updateBy'
		from ${tableName}
		where model_id = #{modelId}
		and state = '1'
		order by create_time desc
	</select>
</mapper>